
@media only screen and (device-width : 768px){
	.navbar-fixed-top .container{ width:auto;}
	.kToolbar{position: fixed;left:50%; top:189px;z-index:1;margin-left: 440px;}
	.thumbnail a.kTile-img span.stop{display:block; position:absolute; width:190px; height:20px; left:0; bottom: -5px; background:url(../img/long_image_shadow.png) bottom left no-repeat;overflow:hidden; margin:0px; padding:0px;}
}
