{% extends 'userena/base_userena.html' %}
{% load i18n bootstrap %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form action="" method="post" id="password_change_form" class="form-horizontal">
  <div class="nav-tabs" style="margin-bottom: 10px">
  	<h4 style="display: inline;float: left;">密码设置</h4>
  	<a href="{% url userena_account_setting %}" class="btn" style="display: inline;float: right;">{% trans "Back" %}</a>
  </div>
  <fieldset>
    {% csrf_token %}
    {{ form|bootstrap }}
</fieldset>
<div class="form-actions" style="background: none; border: none">
    <input type="submit" class="btn btn-primary" value="{% trans "Change password" %}" style="margin-left:90px;" />
</div>
</form>
{% endblock %}
