{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}
{% block content_title %}<h2>{% trans "Your password has been changed" %}.</h2>{% endblock %}

{% block content %}
<div class="nav-tabs" style="margin-bottom: 10px">
	<h4 style="display: inline;float: left;">密码设置</h4>
	<a href="{% url userena_account_setting %}" class="btn" style="display: inline;float: right;">{% trans "Back" %}</a>
</div>

<p>{% trans "From now on you can use your new password to signin" %}.</p>
{% endblock %}
