{% extends 'oa_base.html' %}
{% load i18n kinger_tags oa_tags pagination_tags %}
{% block content %}
{% autopaginate documents 10 %}
<div class="main">
    <div>
        {% include "supply/document_url_menu.html" %}
    </div>
    <div class="column">
        <div>
            <form class="form-inline" style="margin: 10px 0 15px 0px;" method="GET" id="search-form-box"> 
            <div id="slimp-seatch" class="pull_left w_175">
                <input type="text" name="q" id="keyW" class="input-medium"  value="{{query}}" placeholder="关键字">

            </div> 
            <select id="is_read" class=" span2 classSelect" style="width:auto; float:left; margin-right:10px; *margin-top:0;" value="{{ty}}" name="ty">
                <option value="-1"> --全部公文-- </option>
                <option  value="0" {% if ty == 0 %}selected="selected"{% endif %}>未读</option>
                <option  value="1" {% if ty == 1 %}selected="selected"{% endif %}>已读</option>
           </select> 

            <div id="adv-search" class="hide"> 
                <input type="text" placeholder="开始时间" id="from" name="st" class="shijainduan w_80" value="{{st}}" />
                &nbsp;&nbsp;至&nbsp;&nbsp;
                <input type="text" placeholder="结束日期" name="et" value="{{et}}" id="to" class="shijainduan w_80" />
            </div> 
            <button type="submit" class="searchB btn" id="searchB">{% trans "Search" %}</button>
            <a href="javascript:;" id="adv-search-btn" class="show">高级搜索</a> 
        </form>
        </div>
        <div class="list"> 
            <table>
                <tr align="center">
                    <th scope="col" width="70">级别 </th>
                    <th scope="col" width="200">标题</th>
                    <th scope="col">申请类型</th> 
                    <th scope="col">浏览人数</th>
                    <th scope="col">发布时间</th>
                    <th scope="col">发布者</th>
                    <th scope="col">操作</th>
                </tr>
                {% if not documents|is_empty_list %}
                <tr>
                    <td align="center" colspan="7" style=" font-size: 18px; color: #cecece;">
                        <h4 class="not_date"> 暂无数据</h4>
                    </td>
                </tr>
                {% else %}
                {% for d in documents %}
                <tr class="{% if forloop.counter|default:0|divisibleby:2 %}bg_color{% else %}{% endif %}">
                    <td width="70">{{d.document.level|document_level}}</td>
                    <td>
                        <div class="td-words w_200">
                            <a target="_blank" href="{% url oa_supply_document_detail d.document.id %}" rel="read_status">
                                {% if not d.is_read %}<span class="no_book">[未读]&nbsp;</span>{% endif %}{{d.document.title}}
                            </a>
                        </div>
                    </td>
                    <td width="80">{% if d.document.type > 0 %}领取{% else %}采购{% endif %}</td>
                    <td width="80">{{d.document|mat_read_num:"read"}}/{{d.document|mat_read_num:"total"}}</td>
                    <td width="110"><div class="td-words w_110" title="{{d.document.ctime|date:"Y-m-d H:i"}}">{{d.document.ctime|date:"Y-m-d"}}</div></td>
                    <td width="90">{{d.document.sender.profile.realname}}</td>
                    <td width="50"> <a rel="doc_document" data-id="{{d.id}}" href="javascript:;">查看</a></td> 
                </tr>
                <tr id="id_{{d.id}}" class="detail_info" style="display:none;">
                    <td style=" background-color:#fff;  margin: 0; padding: 0;" colspan="8"> 
                            <table class="form-table"> 
                                <!--物资列表-->
                                <tr style="border-top: 1px solid #DDDDDD;"> 
                                    <th width="140">物资名称</th>
                                    <th width="100">申请数</th>
                                    <th width="80">类别</th>
                                    {% if d.document.type == 0 %}
                                        <th width="130">供应商</th>
                                    {% endif %}
                                </tr>
                                {% for a in d.document.applies.all %} 
                                <tr> 
                                    <td>{{a.supply}}</td>
                                    <td>{{a.num}}</td>
                                    <td>{{a.supply.category}}</td>
                                    {% if d.document.type == 0 %}
                                        <td>{{a.provider}}</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <!--/物资列表-->
                            </table> 
                    </td>  
                </tr>
                {% endfor %}
                {% endif %}
            </table>
            <div class="pagination" style="text-align:center;">
                {% paginate %}
            </div>
       </div>
    </div>
</div>
<script type="text/javascript">
    //未读处理 
	$("[rel=read_status]").click(function(){
         $(this).find('span').remove();
    })
    //查看 
    $("[rel=doc_document]").click(function(){
        var id = $(this).data("id");
        if($("#id_"+id).is(':visible')){ 
            $(this).removeClass("nav_brss")
            $(".detail_info").hide();
        }else{ 
            $(".detail_info").hide(); 
            $('[rel=doc_document]').removeClass("nav_brss");
            $(this).addClass("nav_brss");
            $("#id_"+id).show();
        } 
    }); 
</script>

{% endblock %}