{% extends 'oa_base.html' %}
{% load i18n kinger_tags oa_tags pagination_tags %}
{% block content %}
<script src="{{ STATIC_URL }}oa/js/jquery-1.9.1.js"></script>
 <!--<script src="{{ STATIC_URL }}oa/js/jquery-migrate-1.2.1.js"></script>-->
 <script type="text/javascript">
    var jQ19 = $.noConflict(true); // JQ19
</script>
<div class="main">
     <div class="tab"><span>物资领取</span><a class="btn" href="{% url oa_supply_record_index %}">返回</a></div>
     <div class="column"> 
          
         <form class="registerform form-inline" style="margin:8px 0 5px 0px;"  action="" method="POST">{% csrf_token %} 
             <div class="detailed_list">
                    <p>
                      <label>领取人*</label>
                      <input type="text" class="span2" datatype="*" errormsg="" nullmsg="请填写领取人" placeholder="请填写领取人" name="" value="" />
                    </p>   
                    <p> 
                        <label>所属机构*</label>
                        <select id="school_id" datatype="*" errormsg="" nullmsg="请选择机构" class=" span2 classSelect" style=" font-size: 14px; width: auto;" value="{{school.id}}" name="sid">
                               <option value=""> --所属机构-- </option>
                               {% for s in schools %}
                               <option  value="{{s.id}}" {% if school.id == s.id %}selected="selected"{% endif %}>{{s.name}}</option>
                               {% endfor %}
                          </select>
                     </p>

                   <p><label>物资清单*</label>
                          <div>
                               <select id="category" class="span2">
                                  <option value="">---------</option>
                               {% for p in providers %}<option value="{{p.id}}">{{p.name}}</option>{% endfor %}
                               </select>
                              <input rel="inputname" supinput="input" class="span2" type="text" id="supply_name" value="" placeholder="物资名称" />
                              <input rel="inputnum" supinput="input" style=" width: 50px;" type="text" id="supply_num" value="" placeholder="数量" />
                              <input  disabled="disabled" type="button" class="btn" id="add_supply" value="添加" />
                           </div>
                       </p>
                       <div class="leveltip_list" style="width: 630px; ">
                           <table id="levetable" width="100%" >
                               <tr>
                                    <th width="80">类别</th>
                                    <th width="200">物资名称</th>
                                    <th width="100">数量</th>
                                    <th width="60">操作</th>
                                </tr>
                               <tr rel="typenull"><td></td><td></td><td></td><td></td></tr>
                           </table>
                      </div> 

                      <p><label>物资备注:</label>
                           <textarea name="remark" style=" width: 615px; height: 75px;"></textarea>
                      </p>
                   </div> 
                   <div class="operate_button">
                       <p>
                           <label>&nbsp;</label>
                          <button style=" margin-right:15px;" type="submit" class="btn btn-success" id="searchB"  >确 定</button>
                          <input class="btn" type="reset" value="取 消" /> 
                       </p>
                       
                   </div> 
            </form>
     </div>
</div> 
<script>
    jQ19(function(){ 
	//$(".registerform").Validform();  //就这一行代码！; 
	$(".registerform").Validform({
            tiptype:2,
            showAllError:true,
            datatype:{//传入自定义datatype类型 ;
                "id-18" : /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{4}$/,
                "tel-3" : /^(\d{3,4}-)?\d{7,8}$/,
                "nun" : /^[0-9]*[1-9][0-9]*$/
             } 
	});
        $(".selectdata").datepicker({
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            onSelect:function(date){  
                this.focus();  
                this.blur();  
            }
       });
    //添加物资到列表记录
    //var jsonarge = new Array();
    //var n = 0
    $("#add_supply").click(function(){ 
        var category =  $("#category").find("option:selected").val(); 
        //var type = $("#provider").val(); 
        var num = $("#supply_num").val(); 
        var typename = $("#category").find("option:selected").text();
        var name =  $("#supply_name").val();
        $("[rel=typenull]").remove();
        var n = $("#levetable tr").length-1; 
        var tr = '<tr rel="tr_'+category+'" idtype="'+category+'" idn="'+ n +'"><td>'+typename+'</td><td><input datatype="*" errormsg="" nullmsg="请输入名称" id="input_name_'+n+'" rel="inputname" class="inputname span2" type="text" value="'+name+'" /><span id="user_tip" class="Validform_checktip "></span></td><td><input datatype="nun" errormsg="输入正整数" nullmsg="请输入数量" rel="inputnum" id="input_num_'+n+'" class="inputnum" style="width:50px;" type="text" value="'+num+'" /><span id="user_tip" class="Validform_checktip "></span></td><td><a data-type="'+category+'" href="javascript:;" rel="delete">删除</a></td></tr><tr rel="typenull"><td></td><td></td><td></td><td></td></tr>';
        $("#levetable").append(tr);
        $("#supply_name").val(''); 
        $("#supply_num").val('');
        $("#category").val('');
        $(this).attr("disabled","disabled")
    });
    //删除列表记录
    $(document).on('click','[rel = delete]',function(){
       var typetr= $(this).data('type');
        $(this).parents("[rel =tr_"+typetr+"]").remove(); 
    });
    $("[supinput=input]").keyup(function(){
      var inputTmp =$(this);
      isNumber(inputTmp); 
  });
});
function supplyStr(event){
    var str = '',strs = '';
    event.each(function(e,v){ 
       var id = v.getAttribute("idn");
       var idtype= v.getAttribute("idtype");
       var sname = $('[idn='+id+']').find(".inputname").val(); 
       var num = $('[idn='+id+']').find(".inputnum").val();
       if(id !==null){
            if(str){str += ","}; 
            str =str +'"'+id+'":{"sname":"'+sname+'","cat":'+idtype+',"num":'+num+'}';
        } 
    }) 
    strs = '{' + str + '}'
    return strs; 
  }
 
 function isNumber(event){
     var id = event.attr("id")
     var input = $("#"+id).attr("rel"); 
     var inputValue = $("#"+id).val();
     var inputname = $('#supply_name').val();
     var inputnum = $('#supply_num').val();
     if(input == "inputname" ){
        if(inputValue){
            if(inputnum){
                $("#add_supply").removeAttr("disabled");
                attr(11)
            } 
        }else {
            $("#"+id).val('');
            $("#add_supply").attr("disabled","disabled");
        }
     }else if(input == "inputnum"){
        if(inputValue){
            var examNumbIds = /^[0-9]*[1-9][0-9]*$/; 
            if(examNumbIds.test(inputValue)){
                if(inputname){
                    $("#add_supply").removeAttr("disabled"); 
                }  
            }else{ 
             $("#"+id).val("");
             $("#add_supply").attr("disabled","disabled");
            }
        }else{
           $("#"+id).val("");
           $("#add_supply").attr("disabled","disabled"); 
        }
     }
 }
 
 $("#school_id").change(function(){
    var sid = $(this).val();
    if(sid){
      url = "{% url oa_supply_school_realtes %}";
      $.get(url,{school_id:sid},function(result){
        data = $.parseJSON(result);
        if(data.categorys){ 
            $("#category").html('<option value="">--------</option>');
        }
  
        $("#category").html('<option value="">--------</option>');
        var cats = data.categorys;
        var htmls = ''
        for(var i=0;i<cats.length;i++){
            htmls += '<option value="' + cats[i].pid + '" class="optgroup">' + cats[i].pname + '</option>'; 
            sub = cats[i].member; 
            for(var j=0;j<sub.length;j++){  
              htmls += '<option value="' + sub[j].sid + '">' + sub[j].sname + '</option>'; 
            }
        }
         $("#category").append(htmls); 
      });
    } 
 })
</script>
{% endblock %}
