{% extends 'oa/admin/base.html' %}
{% load i18n kinger_tags oa_tags pagination_tags %}
{% block content %}
{% autopaginate parts 10 %}
<div class="main">
    <div class="tab">
      <span>精彩文章</span>
      <a class="btn" href="{% url oa_article_create site.id %}" style="color:#353535;"><i class="add_btn">&nbsp;</i>添加</a>
    </div>
    <div class="column">
      <!--select class="span2"><option>所有来源</option></select-->
      <select id="part_type" class="span2">
          <option value="-1" {% if type == -1 %}selected="selected"{% endif %}>--所有状态--</option>
          <option value="0" {% if type == 0 %}selected="selected"{% endif %}>未设首页显示</option>
          <option value="1" {% if type == 1 %}selected="selected"{% endif %}>已设首页显示</option>
        </select>
	  <div class="list">
              <form class="form-inline" onsubmit="return check();" id="form_post" action="" method="POST">{% csrf_token %}
              <table>
                   <tr align="center">
                      <th scope="col" width="30"><input type="checkbox" rel="checkall"></th>
                       <th scope="col" width="160">标题</th>
                       <!--th scope="col" width="70">来源</th-->
                       <th scope="col" width="100">发布者/职务</th>
                       <th scope="col" width="70">发布时间</th>
                       <th scope="col" width="50">访问数</th>
                       <th scope="col" width="60">文章状态</th>
                       <th scope="col" width="60">首页显示</th>
                       <th scope="col" width="60">操作</th>
                   </tr>
                {% if not parts|is_empty_list %}
                    <tr >
                        <td align="center" colspan="8" style=" font-size: 18px; color: #cecece;">
                            <h4 class="not_date"> 暂无数据</h4>
                        </td>
                    </tr>
                  {% else %}
                  {% for p in parts %}
                  <tr class="{% if forloop.counter|default:0|divisibleby:2 %}bg_color{% else %}{% endif %}">
                      <td width="30"><input type="checkbox" value="{{p.id}}" rel="role" name="part_pks"></td>
                      <td width="160"><div class="td-words w_160" title="{{p.title}}"> {{p.title|truncatestr:":12"}}</div></td>
                      <!--td width="70"><div class="td-words w_70">精彩文章</div></td-->
                      <td width="100"><div class="td-words w_100" title="{{p.creator.name}}{% if p.creator.postjob.position.name %}/{{p.creator.postjob.position.name}}{% endif %}">{{p.creator.name}}{% if p.creator.postjob.position.name %}/{{p.creator.postjob.position.name}}{% endif %}</div></td>
                      <td width="70"><div class="td-words w_70">{{p.ctime|date:"m-d G:i"}}</div></td>
                      <td width="50"><div class="td-words w_50">{{p.view_count}}</div></td>
                      <td width="60"><div class="td-words w_60">{{p.type|article_type}}</div></td>
                      <td width="60"><div class="td-words w_60">{% if p.is_show %}是{% else %}否{% endif %}</div></td>
                      <td width="60"><div class="td-words w_60"><a href="{% url oa_article_update p.id %}">编辑</a></div></td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                  <tr>
                  	<td><input type="checkbox" rel="checkall"></td>
                    <td colspan="7">
                        <select id="select_val" name="attr" class="span2">
                          <option value="-1">-- 批量操作 --</option>
                          <option value="1">首页显示</option>
                          <option value="0">取消首页显示</option>
                        </select>
                        <input disabled="disabled" class="btn  btn-success" id="sub_form" type="submit" name="" value="执行" >
                    </td>
                  </tr>
              	</table>
                <!--<div class="pagination" style="text-align:center;">
                        {% paginate %}
                </div>-->
              	<input type="hidden" name="sid" value="{{site.id}}">
            </form>
            <div class="pagination pagination-centered">{% paginate %}</div>
        </div>
    </div>
</div>
<script>
$("#part_type").change(function(){
  var ty = $(this).val();
  javascript:location.href = '{% url oa_article_list site.id %}?ty=' + ty;
});
 var flagType="-1";
$("#select_val").click(function(){
    flagType=$(this).val();
});
function check(){  
   var rimndText="";
   if(flagType == 1){
       rimndText="是否执行当前操作";
   }else if(flagType == 0){
       rimndText="是否执行当前取消操作";
   }else {
       rimndText="还没选择操作类型"
   }
    var r=confirm(rimndText);
    if (r==true) {
        if(flagType==-1){
            return false;
        } //alert("删除成功");
    } else { 
            return false;//false:阻止提交表单  
    }  
}   
</script>

{% endblock %}
