{% extends 'oa_base.html' %}
{% load i18n kinger_tags oa_tags %}
{% block content %}

 <script src="{{ STATIC_URL }}oa/js/jquery-1.9.1.js"></script>
 <!--<script src="{{ STATIC_URL }}oa/js/jquery-migrate-1.2.1.js"></script>-->
 <script type="text/javascript">
    var jQ19 = $.noConflict(true); // JQ19
</script> 
<script src="{{ STATIC_URL }}oa/js/checkbox_mian.js"></script>
<style>
    #id_category option.optgroup{ color:#000;font-size:15px;}
</style>
<div class="main">
    <div class="tab"><span style="">撰写公文</span><a href="{% url oa_my_document %}">返回</a></div>
      <div class="column">
           <div class="form-horizontal form-kPicCon">  
               <form id="post_form" class="registerform" action="" method="post" enctype="multipart/form-data"  >{% csrf_token %} 
                   {{form.media}} 
                   <div id="class_hide" class="hide"> 
                        {% for s in schools %}
                            <input id="school_cache_{{s.id}}" sname="school_cache" rel="school_cache" type="hidden" alt="{{s.id}}" value="{% if doc %}{{s|get_document_user:doc}}{% endif %}">
                        {% endfor %} 
                    </div>
                    <p><label>公文标题*</label>
                        {{form.title|attr:"class:input-xlarge"|attr:"datatype:* "|attr:"errormsg: "|attr:"nullmsg:请输入公文标题"}}
                        &nbsp;<span id="id_titleTip" class="erro-tips">{{form.title.errors|striptags}}</span>
                    </p>
                    <p><label>公文类型*</label>
                         <select id="id_category" name="category" class="span2 Validform_error" datatype="*" errormsg="" nullmsg="请选择公文类型">
                                 <option value="">--选择公文类型--</option>
                         {% for p in category_group %}
                         <option value="{{p.parent.id}}" {% if doc.category.id == p.parent.id or p.parent.id == category_pk %}selected="selected"{% endif %} class="optgroup">{{p.parent.name}}</option>
                           {% for s in p.member %}
                             <option value="{{s.id}}" {% if doc.category.id == s.id or s.id == category_pk %}selected="selected"{% endif %}>&nbsp;&nbsp;&nbsp;{{s.name}}</option>
                           {% endfor %}
                         {% endfor %}
                       </select>
                        <span id="id_categoryTip" class="erro-tips">{{form.category.errors|striptags}}</span>
                    </p>
                    <p><label>公文级别*</label>
                        {{form.level|attr:"class:span2"}}
                        <span id="id_levelTip" class="erro-tips">{{form.level.errors|striptags}}</span>
                    </p>
                    <div style=" display: block; margin-bottom: 10px;">
                        <label style="font-size:13px; margin-left:5px; ">公文内容* &nbsp;<input id="content_value" type="hidden"  value="" datatype="*" errormsg="" nullmsg="内容不能为空" ></label>
                        <div style="margin-left:10px;">
                            <span id="id_contentTip" class="erro-tips">{{form.content.errors|striptags}}</span>
                            <div></div>
                            {{form.content}}
                        </div>
                        <div style=" margin-bottom:0px; width: 100%; height: 1px;"></div>
                    </div>
                    <div id="ie_uplocad" style=" margin:0  0 10px 0;" class="hidden">
                        <span id="ie-uploadfiles">添加上传附件</span><span style=" margin-left: 10px;">(文件大可压缩后上传,文件大小不能超过8MB)</span>
                        {% for f in files %}
                        <p style=" padding:3px 0; margin: 0;">{{f.name}} <a class="delectfile" rel="doc_file" alt="{{f.id}}">删除</a></p>
                        {% endfor %}
                    </div> 
                     <div id="containeruplocad" class="hidden" style=" margin:10px 0;" >
                            <span id="my-uploadfiles" >上传附件</span><span style="margin-left: 10px;">(文件大可压缩后上传,文件大小不能超过8MB)</span>
                            <div id="quoteRequest">
                                 {% for f in files %}
                                    <div class="addinput" style=""><span class="filesname">{{f.name}}</span><a class="delectfile" rel="doc_file" alt="{{f.id}}">删除</a></div>
                                 {% endfor %}
                            </div> 
                    </div>
                    <div>
                        <label class="pull-left" style="font-size: 13px;">发布对象*</label>
                        <div id="server_name" class="add_user name-list" style="overflow-x:hidden; max-height:60px;" >
                           <ul> 
                                 {% if doc %}
                                         {% for r in receivers %}
                                         <li>
                                             <input data-id="{{r.user.id}}" type="checkbox" name="to" value="{{r.user.id}}" checked="checked" style="display:none;">
                                            {{r.user|get_name}}
                                            <span class="rm_user" data-id="{{r.user.id}}">&nbsp;</span>
                                         </li> 
                                         {% endfor %}
                                 {% else %}
                                         {% for r in teacher_list %}
                                         <li>
                                             <input type="hidden" name="" shoolid="" value="1" >
                                             <input type="hidden" name="" shoolid="" value="1" >
                                             <input type="hidden" name="" shoolid="" value="1" >
                                             <input type="hidden" name="" shoolid="" value="1" >
                                         </li>
                                         <li>
                                          
                                             <input data-id="{{r.id}}" data-pid="{{r.teacher.school.id}}" type="checkbox" name="to" value="{{r.id}}}" checked="checked" style="display:none;">
                                            {{r|get_name}}
                                            <span class="rm_user" data-id="{{r.user.id}}">&nbsp;</span>
                                         </li> 
                                         {% endfor %}
                                 {% endif %}
                           </ul>  
                        </div>
                        
                    </div>
                   
                    <p>
                        <label>&nbsp;</label>
                        <a class="rem-btn"  style=" float:right;" href="javascript:void(0);">清空</a> 
                        <!--<a id="add_member" class="btn" href="javascript:void(0);" style="color:#353535;"><i class="icon-plus"></i> 添加对象</a>&nbsp;-->
                        <button id="add_member_btn" class="btn" style="color:#353535;"><i class="icon-plus"></i> 添加对象</button>
                        <input id="user_numbe" style=" display: none" type="text" value="" datatype="nun" errormsg="请选择发布对象" nullmsg="请选择发布对象" /> 
                        <span id="user_tip" class="Validform_checktip "></span>
                    </p>
                    <p>
                        <label>落款*</label> 
                        {{form.inscribed|attr:"datatype:* "|attr:"errormsg: "|attr:"nullmsg:请输入落款"}}&nbsp;
                        <span id="id_inscribedTip" class="erro-tips">{{form.inscribed.errors|striptags}}</span>
                        <span id="user_tip" class="Validform_checktip "></span>
                    </p>
                    <p>
                        <label>公文时间*</label> 
                        <input  style="cursor:pointer;background-color:#ffffff;" tabindex="1"  name="send_time" datatype="* " nullmsg="请输入时间"  class="selectdata input-medium" readonly="readonly" errormsg=" " type="text" id="id_send_time" value="" />
                        <!--{{form.send_time|attr:"readonly:readonly"|attr:"class:selectdata input-medium"|attr:"style:cursor:pointer; background-color:#ffffff;"|attr:"value:"|attr:"datatype:* "|attr:"errormsg: "|attr:"nullmsg:请输入时间"}}-->
                        &nbsp;<span id="id_send_timeTip" class="erro-tips">{{form.send_time.errors|striptags}}</span>
                    </p>
                    <div class="line" style="text-align:center;"><div class="text" >以上为公文正文</div></div>
                    <div class="m_right" style="overflow:hidden;">
                        {{form.send_msg|attr:"class:pull_left"}}  
                        <label for="id_send_msg" style="float:left; margin-left:5px;"> 使用短信通知（字数限制70,通知发送给发布对象）</label>
                        <div id="send_remind" style="float:right; display: none; margin-right:20px;">您还可以输入<div style=" display: inline" id="remains_text">70</div>字</div>
                        <input class="input_remind"  type="hidden" maxLength="4" id="remains" style="width:20px; background-color:#fff;" value="70" /> 
                    </div>           
                    <p id="note_text" style=" display:none;">
                        <label>&nbsp;</label>
                        <textarea id="Memo" style="width:610px; height:150px;" errormsg="" nullmsg="请填写信息" class="m-content-ta" value='' name="msg_body" placeholder="请输入内容" onKeyDown="gbcount(this.form.Memo,this.form.totals,this.form.useds,this.form.remains);" onKeyUp="gbcount(this.form.Memo,this.form.totals,this.form.useds,this.form.remains);"></textarea>
                        <input type="hidden" maxLength="4" id="totals" size="3" value="70" class="inputtext" /> 
                        <input type="hidden" maxLength="4" id="useds" size="3" value="0" class="inputtext" />  
                        <!--{{form.msg_body|attr:"style:width:610px;"}}--> 
                         <span id="MemoTip" style=" margin:10px 0 0 80px;" class="erro-tips Validform_checktip"> </span> 
                    </p> 
                    <div class="m_right" style="height:30px; line-height:30px;"> 
                        <label for="id_is_submit" style="float:left; margin-top:5px;">
                            {{form.is_submit|attr:"style:vertical-align:-2px"}}&nbsp;&nbsp;我要送审
                        </label>
                        <label class="sub_info" style="float:left; display:none; margin-left:10px; margin-top:5px;">审批人：</label>
                        <div class="sub_info" style=" display:none;">
                            <input id="sub_user_name" errormsg="" nullmsg="请选择审批人" type="text" readonly="true" style=" background-color: white; width: 70px; " value="{{approvaler|get_name}}" />
                            <input id="sub_user_id" type="hidden" name="approvaler" value="{{approvaler.id}}" />
                            <span  id="sub_user_nameTip"  class="erro-tips Validform_checktip "> </span>
                        </div>
                     </div>
                    <p></p> 
                    <div id="sub_user" style="  border-top:1px solid #ddd; background-color:#f0efef; display:none; margin-left:80px;"> 
                    </div> 
                    <!-- <p style=" display: none;"> 
                        <label>审批备注</label>
                        {{form.remark|attr:"style:width:615px;"|attr:"datatype:* "|attr:"errormsg: "|attr:"nullmsg:请输入备注"}}
                        <span id="id_remarkTip" class="erro-tips Validform_checktip"> </span>
                        <span style=" height:5px; margin-left: 300px; display: inline-block;"> </span> 
                    </p>--> 
                    <p style="display:none">
                        {{form.status}}
                    </p>
                    <p style=" margin-top: 70px;">
                        <label>&nbsp;</label>
                        <input type="button" id="post_date" class="btn" value="编辑完毕 发送"/>
                        <input type="button" class="btn" id="draft" value="存草稿" />
                        <!--<a id="post_date" class="btn" href="javascript:;" style="color:#353535;">编辑完毕 发送</a>--> 
                        <!--<a id="draft" href="javascript:;"  class="btn" style="color:#353535;">存草稿</a>--> 
                        <span id="onLoad_inport" style="display: none; color:#616161; margin-left: 30px;"><img src="{{ STATIC_URL }}oa/images/import.gif" />正在保存请稍等...</span>
                    </p> 
                    <p><label>&nbsp;</label> <input id="submit_save" style="display:none;" class="btn" type="submit" name="" value="{% trans "Save" %}" ></p>
                    <input type="hidden" name="ty" value="{{ty}}">
            </form> 
         </div> 
     </div>
</div>
<div class="modal" id="myModal" style="display:none;">
  <div class="modal-header">
        <!--<a class="close btn" data-dismiss="modal">×</a>-->
        <input class="btn" style=" float: right; vertical-align: auto; " data-dismiss="modal" type="button" value=" 取 消 "/>
        <input id="server_role" style="float: right; margin-right: 30px; vertical-align: auto; " type="button" class="btn btn-success" data-dismiss="modal"  value="{% trans 'Save' %}"/>
        <h3>选择发布对象</h3>
   </div> 
   <div id="content" style="padding:10px;">
       <div class="member">
            <p class="slt-title"><span>已选发布对象</span><a href="javascript:;" class="rem-btn">清空</a></p>
            <div id="data_panel" class="name-list"> 
                <ul>
                {% for u in member_list %} 
                    {% if u.teacher.school == school %}
                        <li>
                            <input data-id="{{u.id}}" type="checkbox" name="to" value="{{u.id}}" checked="checked" style="display:none;">
                            {{u|get_name}}
                            <span class="rm_user" data-id="{{t.id}}">&nbsp;</span>
                        </li> 
                     {% endif %}  
                 {% endfor %}
                </ul> 
            </div>
        </div>
       <div id="data-up"> 
           <span style="color:#616161; margin-left: 30px;"><img src="{{ STATIC_URL }}oa/images/import.gif" />正在加载请稍等...</span>
       </div>
   </div>
   <div class="modal-footer"> 
        <p style="text-align:center; padding:0; margin:0; height: 5px;" > 
            <input type="hidden" id="user_id" value="{{user.id}}"> 
            <!--<a id="server_role" style="color:#fff;" class="btn btn-success" data-dismiss="modal" href="javascript:;">{% trans "Save" %}</a>-->
            <!--<a class="btn " data-dismiss="modal" href="javascript:;">取消</a>--> 
        </p> 
   </div>
</div>
<div id="cheak_dis" style="display:none;">
   <ul>
       
   </ul>
</div>  
<input id="box_type1" type="hidden" value="0" /> 
<input id="box_type" type="hidden" value="0" />
<input id="box_server" type="hidden" value="1" />  
<script type="text/javascript">
   
$(document).ready(function(){
    if ($.browser.msie){ //ie 上传附件
        $("#ie_uplocad").removeClass("hidden")
        $("#containeruplocad").addClass("hidden");  
    }else{
        $("#containeruplocad").removeClass("hidden")
        $("#ie_uplocad").addClass("hidden");
     }
 })
 //添加input-file
$("#ie-uploadfiles").live('click',function(){  
    var filestar = '<div style=" padding:3px 0; margin: 0;"><span style="margin:0 5px;">附件</span><input type="file" name="files"/> <span style="margin:0 10px;"></span><a href="javascript:;" class="delectiefile">删除</a></div>';
    $("#ie_uplocad").append(filestar); 
});
//删除input-file
$('.delectiefile').live('click',function(){ 
    $(this).parent().remove();
})
jQ19(function(){ 
	//$(".registerform").Validform();  //就这一行代码！ 
	$(".registerform").Validform({
            tiptype:2,
            showAllError:true,
            datatype:{//传入自定义datatype类型 ;
                "id-18" : /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{4}$/,
                "tel-3" : /^(\d{3,4}-)?\d{7,8}$/,
                "nun" : /^[0-9]*[1-9][0-9]*$/
             },
             beforeSubmit:function(curform){
		        //在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
		        //这里明确return false的话表单将不会提交;
                 $("#post_date").attr("disabled","disabled");
                 $("#draft").attr("disabled","disabled");
                 $("#onLoad_inport").show();
            }
	});
//        $(".selectdata").datepicker({
//            dateFormat: 'yy-mm-dd',
//            changeMonth: true,
//            changeYear: true,
//            fixFocusIE: true,  
//            onSelect: function(dateText, inst) { 
//                  $(this).blur();
//                  $(this).focus();
//                  $("body").click(); 
//            },onClose : function(dateText, inst){
//                
//            } 
//       });
        
        $("#post_date").click(function(){//提交 数据 
            var contentVal= tinyMCE.get('id_content').getContent();
            $("#content_value").val(contentVal);
            var serverName = $("#server_name ul"); 
            var len=serverName.find('li').length;
            $("#user_numbe").val(len); 
            $("[name=status]").val(0); //保存发送
            $("#post_form").submit(); 
        }); 
        $('#draft').click(function(){ //
            $("[name=status]").val(1);//草稿 
            $("#post_form").submit();
        });  
        var boxCheck= $("#userName");//已选box 对象
        //strVal= ",";
         boxCheck.find("input").each(function(k,v){  //存储以选对象id 到strVar
                id = v.getAttribute('id');
                $mms = $("#"+id);
                strVal +=$mms.val()+',';
        });
     

    $(document).on('click' , "#add_member_btn" , function(){ //添加成员面板数据、显示
       var box=$("#server_name ul"),  
       url = "{% url oa_document_set_receiver %}",
       did = {{doc.id|default:0}};  
           if($("#box_type").val()==0){
               $.post(url,{doc_id:did},function(result){
                   data = $.parseJSON(result);  
                   $("#data-up").empty();
                   $("#data-up").html(data.con);
                   $("#box_type").val('1');
               });
           }
           type = $("[name=ty]").attr("value");
           $('#myModal').modal('toggle'); //弹框   
           boxAdd = $("#cheak_dis ul"); 
           boxAdd.find('input').each(function(k,v){
               boxId = v.getAttribute('schoolid'); 
                if(boxId==$("#school_id").val()){  
                   $(this).parent('li').remove(); 
                }
           });  
   });
    var  schoolUserList = " "; 
    var  userids = [];
    //选择学园
    $(document).on('click' , "[alt=school_item]" ,function(){
        $('.message_add_remind').show();
            url = "{% url oa_document_set_receiver %}"
            did = {{doc.id|default:0}};
            var school_id = $(this).attr('rel');
            schoolid = $(this).attr('rel')
            cache = $("#school_cache_"+school_id).val(), 
            userids = cache.split(','),
            cacheuserid =userids.toString();  
            $.post(url,{sid:school_id,doc_id:did,data:cacheuserid},function(result){
                data = $.parseJSON(result);  
                $("#data-up").empty();
                $("#data-up").html(data.con);
                $("#box_type").val('1');
            });
            schoolUserList = " ";
            var boxAdd = $("#cheak_dis ul input");  
            $.each(boxAdd, function(k,v){  
                boxId = v.getAttribute("schoolid");
                dataId = parseInt(v.getAttribute('data-id'));
                var index = $.inArray(dataId,userids);
                if(boxId == school_id){ 
                   schoolUserList +="<li>"+ $(this).parent('li').html()+"</li>";
                   if(index < 0){
                      userids.push(dataId);
                   } 
                   $(this).parent('li').remove(); 
                }
            });  
            //alert(schoolUserList + "schoolUserList")
            var addUserHtml=$("#data_panel ul").html(); 
            //alert(addUserHtml);
            //schoolUserList = $("#cheak_dis ul").html();
            $("#cheak_dis ul").append(addUserHtml);
            $("#data_panel ul").empty();
            $("#data_panel ul").append(schoolUserList);
            $("#school_cache_"+school_id).val(userids);
            
    });
  
    //审批人选择学园
    $(document).on('click' , "[alt=school_item]" , function(){
        url = "{% url oa_document_get_approvalers %}"
        school_id = $(this).attr('rel');
        $.post(url,{sid:school_id},function(result){
            data = $.parseJSON(result);  
            $("#sub_user").empty();
            $("#sub_user").html(data.con);
            $("#box_type1").val('1');
        }); 
    }) 

/*$('#myModal').on('hide', function (e) {
   schoolId=$("#school_id").val();
   userIdAdd=$("#school_cache_"+schoolId).val();
   cheak_dis=$('#cheak_dis ul').html();
   $("#box_server").val(0);
   $("#server_name ul").append(cheak_dis);
})
*/
    //发信息勾选
     $("#id_send_msg").change(function(){
         if($("#id_send_msg").prop('checked')){
              $("#note_text").show();
                $("#Memo").attr("datatype","*");
         }else{
             $("#note_text").hide()
             $("#Memo").removeAttr("datatype")
         }
     }); 
    // if($("#id_send_msg").prop('checked')){
    //         $("#note_text").show();
    //         $("#Memo").attr("datatype","*");
    // }else{ 
    //}
    
    // if($("#id_is_submit").prop('checked')){
    //         url = "{% url oa_document_get_approvalers %}" 
    //         $.post(url,{},function(result){
    //                 data = $.parseJSON(result);  
    //                 $("#sub_user").empty();
    //                 $("#sub_user").html(data.con);
    //                 $("#box_type1").val('1');
    //         }); 
    //         $("#sub_user").show(); 
    //         $("#sub_user_name").attr("datatype","*");
    // }else{
    //         $("#sub_user").hide();
    //         $("#sub_user_name").removeAttr("datatype")
    // } 
    //送审勾选 
    $("#id_is_submit").click(function(){
        if($(this).prop('checked')){
            $("#sub_user").show();
            $(".sub_info").show();
            $("#sub_user_name").attr("datatype","*");
        }else{
            $("#sub_user").hide()
            $(".sub_info").hide();
            $("#sub_user_name").removeAttr("datatype"); 
        } 
       
        if($("#box_type1").val()==0){ 
             url = "{% url oa_document_get_approvalers %}"
            $.post(url,{},function(result){
                data = $.parseJSON(result); 
                $("#sub_user").empty();
                $("#sub_user").html(data.con);
                $("#box_type1").val('1');
            }); 
        } 
    });

    $(document).on('click' , ".rem-btn" ,function(){ //删除全部 
            $(".name-list ul").empty();
            $("#cheak_dis ul").empty();
            //$("[username=type]").removeAttr("checked");
            //strVal=","
            userIdAdd="";
            schoolVar=$("#school_id").val()
            $("#school_cache_"+schoolVar).val('');
    });
    
    $(document).on('click' , "[name=judgment]" , function(){//
            var csName = $(this).attr('class');
            if($(this).attr("checked")){
                    $(".box_"+csName).show();
                    $(".box_"+csName).siblings('.box').hide();
            }  
    });
    $(".user_names").click(function(){ 
            $(this).parent('li').remove();
    });
 
//    $(document).on('click' ,'#teacher_all' , function(){//全部选中 
//              var radio=$('[name=judgment]:checked').attr('class'),
//              teacherType=$(".list_2"),
//              inputChecked=$(this).prop('checked'); 
//              teacherType.find('.user_name').each(function(k,v){ 
//                 boxInput = v.getAttribute('id');
//                     $mmInput=$("#"+boxInput); 
//                     if(inputChecked && $mmInput.attr('checked')){
//                 }else{
//                             $mmInput.click();
//                     }
//              }); 
//    });

    //弹框初始化删除功能
    $(document).on('click' , "[name=int_add]" , function(){
            var nameId=$(this).attr('nameid'),
            schoolVar=$("#school_id").val(), 
            cheakId=$("#school_cache_"+schoolVar).val();
            $("#all_depatrment_"+nameId).removeAttr("checked");
            $("#all_position_"+nameId).removeAttr("checked");
            $("#all_word"+nameId).removeAttr("checked");
            $(this).parent('li').remove();
            $(".lable_"+nameId).parent('li').remove();
            cheakId = userIdAdd.replace(nameId+',' , '');
            $("#school_cache_"+schoolVar).val(cheakId); 
    });
    $(document).on('click' ,"#server_role" ,function(){//保存选中 
        var serverEndbox = $("#data_panel ul").html();
        var cacheChecked = $("#cheak_dis ul").html();
//        $("#cheak_dis ul").append(serverEndbox);
//        var serverChecked =$("#cheak_dis ul").html(); 
        $("#server_name ul").empty();
        $("#server_name ul").append(serverEndbox+cacheChecked);
        //alert(serverChecked )
        var serverName = $("#server_name ul"); 
        var len=serverName.find('li').length;
        $("#user_numbe").attr("value",len);
        if(len > 0){
            $("#user_tip").addClass("Validform_right");
            $("#user_tip").removeClass("Validform_wrong");
            $("#user_tip").text("");
        }else {
            $("#user_tip").addClass("Validform_wrong");
            $("#user_tip").removeClass("Validform_right");
            $("#user_tip").text("请选择发送对象");
        }

    });

    $(".set-time").hide();
    $(".settime").click(function(){//填写信息显示
            if($(this).children("input").attr("checked")){
                $(".set-time").slideDown();
                // $("#Memo").attr("datatype","*");
            }else{
                $(".set-time").slideUp();
                // $("#Memo").removeAttr("datatype");
            }
    }); 

    $(document).on('click' , ".radio_name" , function(){ //选着送审人
        $("#sub_user_name").val($(this).val());
        $("#sub_user_id").val($(this).attr("userid"));
    });

    $("[rel=doc_file]").click(function(){//提交
        file_id = $(this).attr('alt')
        url = "{% url oa_delete_document_file %}";
            $.post(url,{fid:file_id},function(result){
            data = $.parseJSON(result);
        }) 
    })
});
</script>

{% endblock %}
