{% extends 'oa_base.html' %}
{% load i18n kinger_tags oa_tags umessages_tags pagination_tags %}
{% block content %}
<div class="main">
      <div class="tab">
          <span>发送记录详情</span>
          <a class="tbbtn" href="{% url oa_message_record %}">返回</a>
      </div>
      <div class="column">
         <p><label><strong>类型</strong></label>{% if message.type == 1 %}紧急{% else %}普通{% endif %}</p>
         <p>
             <label><strong>发送时间</strong></label>  
             {% if message.is_send %}{{message.sent_at|date:"Y-m-d G:i"}}{% else %}<span style="color:#F7941D;">{{message.timing|date:"Y-m-d G:i"}}</span>&nbsp;&nbsp;&nbsp;
             <a href="{% url oa_message_cancel_timing message.id %}"><i class="icon-time"></i>&nbsp;取消发送</a>
             {% endif %}
         </p>

         <p><label><strong>发信者</strong></label>  {{message.sender|get_name}}{% if message.sender.postjob.position.name %}({{message.sender.postjob.position.name}}){% endif %} &nbsp;&nbsp;</p>

         <p><label><strong>收信者</strong></label>  {{message.recipients.all|cut_users}}</p>
         <div>
            <label style="float:left; font-size:13px; margin-left:5px;"><strong>内容</strong></label> 
            <div style="margin:10px 0 0 80px; width:500px; border:1px solid #ddd; background-color:#f0efef; padding:5px 10px; min-height:200px; word-break:break-all; word-wrap:break-word;">
             	{{message.body}}
            </div>
         </div>
      </div>
</div>
    
 
<script>

</script>
{% endblock %}
