{% extends 'oa_base.html' %}
{% load i18n kinger_tags oa_tags bootstrap %}
{% block content %}
<div style="min-height:550px;"> 
    <h4 style="margin:0 0 25px 90px; ">{% trans "Change password" %}</h4>
    <div style="float:right; margin-right:80px; width:300px;">
       <p style="color:#51a351;">如何使用密码安全?</p>
       <p>使用标点符号、数字和大小写字母的组合作为密码。 
       <br/>密码中勿包含个人信息（如姓名、生日等）。 
       <br/>不使用其他网站相同的密码。
       <br/>定期修改密码。</p>
    </div>
    <div style="margin-right:380px;"> 
    <form action="" method="post" id="post_form" class="form-horizontal registerform">
      <fieldset> 
        {% csrf_token %}
        <div class="control-group required"> 
            <label class="control-label" for="id_old_password">旧密码*</label> 
            <div class="controls"> 
                {{ form.old_password|attr:"class:input-medium"|attr:"datatype:*6-24"|attr:"errormsg:你输入的密码不正确 "|attr:"nullmsg:请填写当前用户登录密码"}}
                <span class="Validform_checktip "></span>&nbsp;<span id="id_old_passwordTip" class="erro-tips">{{form.old_password.errors}}&nbsp;</span> 
            </div> 
		</div>
         <div class="control-group required"> 
            <label class="control-label" for="id_old_password">新密码*</label> 
            <div class="controls"> 
                 {{ form.new_password1|attr:"class:input-medium"|attr:"plugin:passwordStrength"|attr:"datatype:*6-18"|attr:"errormsg:输入6-18位字符 "|attr:"nullmsg:请填写新登录密码"}}
                 <span class="Validform_checktip "></span>&nbsp;
                 <span id="id_new_password1Tip" class="erro-tips">{{form.new_password1.errors}}</span>
            </div> 
		</div>
        <div class="control-group required"> 
            <label class="control-label" for="id_old_password">确认新密码*</label> 
            <div class="controls"> 
                 {{ form.new_password2|attr:"class:input-medium"|attr:"recheck:new_password1"|attr:"datatype:*6-18"|attr:"nullmsg:请确认密码"|attr:"errormsg:两次输入的密码不一致" }}
                 <span class="Validform_checktip "></span>&nbsp;
                 <span id="id_new_password2Tip" class="erro-tips">{{form.new_password2.errors}}&nbsp;</span>
<!--             <div style="display: inline-block; width:230px; height:30px;vertical-align:middle;overflow-x:visible; font-size: 12px; line-height: 12px;*line-height: 16px;">{{form.new_password2.errors}}</div>-->
            </div> 
		</div> 
        <div class="control-group required" style="margin-top:30px;">
            <label class="control-label"></label> 
            <div class="controls">
                <input type="submit" class="btn btn-success" value=" 确 认"  />
                {% if success %}<span style="margin-left:5px;"><i class="icon-ok"></i> 修改密码成功</span>{% endif %}
            </div>
        </div>
    </fieldset> 
   
    </form>
    </div>
</div>    
 <script type="text/javascript">
 //表单验证 
 $(function(){
    	//$(".registerform").Validform();  //就这一行代码！; 
	$(".registerform").Validform({
            tiptype:2,
            showAllError:true,
            datatype:{//传入自定义datatype类型 ; 
                "pow"  : /^[0-9a-zA-Z!$#%]{6,24}$/,
                "date" :/^(?:(?:1[6-9]|[2-9][0-9])[0-9]{2}([-/.]?)(?:(?:0?[1-9]|1[0-2])\1(?:0?[1-9]|1[0-9]|2[0-8])|(?:0?[13-9]|1[0-2])\1(?:29|30)|(?:0?[13578]|1[02])\1(?:31))|(?:(?:1[6-9]|[2-9][0-9])(?:0[48]|[2468][048]|[13579][26])|(?:16|[2468][048]|[3579][26])00)([-/.]?)0?2\2(?:29))$/
             }
	});
}); 
</script>
{% endblock %}
