{% extends 'oa_base.html' %}
{% load i18n kinger_tags oa_tags %}
{% block content %}
<div class="main">
     <div class="tab"><span>{% if ty %}虚拟组管理{% else %}集团虚拟组管理{% endif %}</span><a class="btn" href="{% if ty %}{% url oa_workgroup_personal_create %}{% else %}{% url oa_workgroup_create %}{% endif %}"><i class="add_btn">&nbsp;</i>添加</a></div>
     <div class="column">
          <div class="list"> 
               <form id="form_post" class="form-inline" action="{% if ty %}{% url oa_workgroup_personal_delete %}{% else %}{% url oa_workgroup_delete %}{% endif %}" method="POST"  onsubmit="return check()">{% csrf_token %}
                    <table>
                        <tr> 
                            <th width="180"><input type="checkbox"  rel="selectAll">名称</th>
                            <th width="350">描述</th>
                            <th>成员数</th>
                        </tr>
                        {% if not workgroups|is_empty_list %}
                        <tr>
                            <td align="center" colspan="8" style=" font-size: 18px; color: #cecece;">
                                <h4 class="not_date"> 暂无数据</h4>
                            </td>
                        </tr>
                        {% else %}
                        {% for w in workgroups %}
                            <tr class="{% if forloop.counter|default:0|divisibleby:2 %}bg_color{% else %}{% endif %}">
                                <td><input type="checkbox" rel="role" name="workgroups" value="{{w.id}}"><a href="{% if ty %}{% url oa_workgroup_personal_update w.id %}{% else %}{% url oa_workgroup_update w.id %}{% endif %}">{{w.name}}</a></td>
                                <td>{{w.description}}</td>
                                <td>{{w.members.count}}</td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                        <tr>
                            <td colspan="3"><input type="checkbox" rel="selectAll">
                             <input id="sub_form" class="btn btn-success" type="submit" name="" value="删除所选" ></td>
                        </tr>
                    </table>
                 </form>
           </div> 
	 </div>
</div> 
<script>
$("#sub_form").attr("disabled",true);
$("[name=workgroups]").change(function(){
	var formChek = $("#form_post"),
        a = formChek.find('input[name=workgroups]').length,
	b = formChek.find('input[name=workgroups]:checked').length; 
	if(b==0){
		$("#sub_form").attr("disabled",true );
	}else{
		$("#sub_form").attr("disabled",false);
		} 
	if(a==b){
		$(':checkbox[rel=selectAll]').attr("checked","checked");
		$("#sub_form").attr("disabled",false);
	}else {
		$(':checkbox[rel=selectAll]').removeAttr("checked");
	}
});
$(':checkbox[rel=selectAll]').click(function(event){
        //stop(event)
        selectAll($(this).attr('checked'));
});
 
function selectAll(checked){
	var formSit = $("#form_post");
	var allInput = formSit.find('input[name=workgroups]').length; 
	if(checked=="checked"){
           $("#form_post").find("input").attr("checked","checked");
        }else{
            $("#form_post").find("input").removeAttr("checked");
        }
	a=formSit.find('input[name=workgroups]:checked').length;
	if(a>1){
		$("#sub_form").attr("disabled",false);
	}else{
		$("#sub_form").attr("disabled",true);
	}
}
function check(){  
    var r=confirm("是否删除所选项？");
	if (r==true) {
		//alert("删除成功");
	} else { 
		return false;//false:阻止提交表单  
	}  
}  
</script>
{% endblock %}
