{% extends 'manage_base.html' %}

{% block content %}

{% load i18n kinger_tags thumbnail %}
{% load pagination_tags %}
{% autopaginate classes 8 %}

<div class="page-header">
    <div class="pull-right" style="margin-right:5px;">
        <a class="btn btn-primary" href="{% url manage_class_create %}"><i class="icon-plus-sign"></i>&nbsp;{% trans "Create" %}</a>
    </div>
    <h1><a href="{% url manage %}">学校管理</a><i class="icon-chevron-right"></i><a href="{% url manage_class_list %}">班级管理</a></h1>
</div>

<div class="well">
    <form class="form-search" method="GET">
        <select class="span2" name="c">
            <option value="" {% if not c %}selected{% endif %}>全部</option>
            {% for year in years %}
            <option value="{{ year }}" {% if c == year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
        <input type="text" name="q" class="input-medium search-query" value="{{query}}" placeholder="{% trans "Class name" %}">
        <button type="submit" class="btn">{% trans "Search" %}</button>
    </form>
</div>

<ul class="thumbnails kPicList kPicList-normal">
    {% for class in classes %}
    <li>
        <div class="thumbnail">
            <a href="{% url manage_class_view class.id %}">
                <img src="{% media_path class.logo "normal" %}" alt="" title="{{class.description}}"/>
            </a>
            <div class="caption">
                <a class="kListLink" href="{% url manage_class_view class.id %}" title="{{ class.name }}">{{ class.name }}</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    {% paginate %}
</div>

{% endblock %}
