
<div class="kToolbar">		
	{% if num > 0 %}
		<span class="kpage">{{ mes.number }}/{{ mes.paginator.num_pages }}</span>
		<div class="kToolbar-turn">
			{% if mes.has_previous %}			
				<a href="?page={{ mes.previous_page_number }}{{ query }}" class="kToolbar-turn-left btn btn-success">上一页</a>
			{% else %}
				<a class="btn btn-success disabled">上一页</a>
			{% endif %}
			
			{% if mes.has_next %}
				<a href="?page={{ mes.next_page_number }}{{ query }}" class="kToolbar-turn-right btn btn-success">下一页</a>
			{% else %}
				<a class="btn btn-success disabled">下一页</a>
			{% endif %}
		</div>
	{% endif %}		
	<!-- 对话记录判断用 -->
	{% if mentors %}	
	<div class="kMentorList">			
		<select name="mentor">
			<option>
				全部导师
			</option>
			{% for m in mentors %}
				<option value="{{ m.user.pk }}">
					{{ m.name }}
				</option>
			{% endfor%}		
		</select>			
	</div>	
	{% endif %}
</div>

<style>
.kMentorList select { width: 133px; margin: 20px 0 0 10px; border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
}
</style>

<script type="text/javascript">
	(function(){
		var select = $('.kMentorList select');
		//设置当前的value
		
		select.val($.query.get('mentor'))	
		select.change(function() {
			//得到当前的值
			var mentor = $(this).val()
			//添加url参数
			var urlParam = $.query.set('mentor',mentor)		
			window.location.href = urlParam
		});	
	})();	
</script>
	
