{% load kinger_tags i18n comments %}
{% if request.user.is_authenticated %}
<style>
    .comment { background-color: #fcfcfc; } 
    .comment_list { background-color: #fcfcfc; }
    .info { color: #333333; font-size: 12px; }
    .comment_time { color: #9c9c9c; }
    .centent { font-size: 12px; color:#333333; }
    .centent a { margin-right: 5px; }
    .centent_btn { border: none; padding:3px 25px 1px 25px; background: url('{{ STATIC_URL }}kinger/img/comment_btn_bg.jpg') no-repeat; }
</style>
<div class="comment" style="height:550px; margin:10px 10px 0 0;">
      <div>
        <!--评论表单-->
        {% get_comment_form for tile as form %}
        <form id="comment_form"  action="{% comment_form_target %}" method="post">{% csrf_token %}
          {{ form.object_pk }}{{ form.content_type }}{{ form.timestamp }}{{ form.site }}{{ form.submit_date }}{{ form.security_hash }}
          <div><input id="target_comment" type="hidden" name="cid" value="" /></div>
            <input type='hidden' name='next' value='{% url kinger_rev_showcomment tile.id %}?is_tips=0'/>
            {% if request.user.email %} 
            
            {% else %}
                <div><input type="hidden" name="email" value="kinger_{{request.user.id}}@lifedu.cn" /></div>
            {% endif %} 
            
            {% for field in form %}
                {% if field.is_hidden %}
                    <div>{{ field }}</div>
                {% endif %}
            {% endfor %}
            <div class="control-group {% if field.errors %} error {% endif %}">
                <div class="controls"> 
                    <div style="border: 1px solid #44a6cd; margin-bottom: 10px;">
                         <span style=" position: absolute; top:-5px; right: 10px;"><img scr="{{ STATIC_URL }}kinger/img/nav_input.jpg" /></span>
                        <textarea style="min-height: 50px; border: none; width: 94%; margin-bottom: 0; box-shadow: none;" id="id-comment" name="comment" placeholder="我也说一句"></textarea> 
                    </div>
                    <div style=" float: left; width: 185px;">
                        <div  id="facew" rel="facew" class="facew face-ico rpico" alt="0"> 
                        </div>
                    </div>  
                    <input type="submit" name="post" class="centent_btn submit-post " value=" "/>
                </div>
            </div>
        </form>
      </div>
      <!--评论表单-->
      <!--评论列表-->
      <input type="hidden" id="rep_comment_id" value="">
      <input type="hidden" id="rep_comment_ty" value="">
      <div id="comment_list">
      {% include "kinger/revision/includes/comments_show.html" %}
    </div>
     <!--评论列表-->
    <div id="faceBG" style=" ">
        <div class="facebox">
            <div class="facej"></div>
            <ul>
              {% for key, value in emo_config.items %}
               <li rel="emo" title="{{value.title}}"><img src="{{value.url}}" width="28" height="28"/></li> 
              {% endfor %}
            </ul>
        </div>
    </div>      
</div> 
<script type="text/javascript">
  $(function(){ 
    $(document).click(function(e){ 
      if($(e.target).eq(0).is($("[rel=facew]"))){  
          var scrolltop= $(document).scrollTop(),
          wih = $(e.target).eq(0).offset().left,
          het = $(e.target).eq(0).offset().top; 
          het =het-scrolltop;
          $("#rep_comment_id").val($(e.target).eq(0).attr("alt"));
          $("#faceBG").css({left:wih-250+'px',top:het+10+'px'});
          $("#rep_comment_id").val($(e.target).eq(0).attr("alt"));
          $("#rep_comment_ty").val($(e.target).eq(0).attr("ty")); 
          $("#faceBG").show();
          //alert(wih+'left'+ het+'top')
          //console.log($(e.target).eq(0));
      }else{
          $("#faceBG").hide();
      }
      })
    $("[rel='emo']").live('click',function(){ 
      cid = $("#rep_comment_id").val();
      ty = $("#rep_comment_ty").val(); 
      if(cid == 0){ 
            $("#id-comment").val($("#id-comment").val() + '[' + $(this).attr("title") + ']');
      }else{ 
            if(ty == 1){  
              $("#sub_comment_" + cid).val($("#sub_comment_" + cid).val() + '[' + $(this).attr("title") + ']');
            }else{ 
              $("#ext_comment_" + cid).val($("#ext_comment_" + cid).val() + '[' + $(this).attr("title") + ']');
            }
      } 
        $("#faceBG").hide(); 
  	})
        
   //显示删除
  $(".list_itme").live("mouseover",function(){ 
          $(this).find(".delete").show();
    }).live("mouseout", function(){
          $(this).find(".delete").hide();
    });

    // 显示回复按钮
    $(".hf-contentbox").live("mouseover",function(){ 
          $(this).find("a.hf-butG").show();
    }).live("mouseout", function(){
          $(this).find("a.hf-butG").hide();
    });
      
      //显示评论输入框
    $(".add_comment").live("click",function(){
        uid = $(this).attr('alt');
        $(".comment_input").hide();
        $("[rel=comments_"+ uid +"]").show(); 
    });
       
 
  
   $("[name= reply]").live("click",function(){ 
        comment_userid = $(this).attr("rel");
        comment_id =$(this).attr("alt");
        //$("#target_comment").attr("value",comment_userid);
        // $("#comment_reply_uname").text($(this).attr("uname"));
        //$("#comment_reply_content").html($(this).attr("content"));
        //$("#comment_reply").show();
        //console.log('rel=reply_'+comment_id +'_'+comment_userid);
        //$(".comment_input").hide();
        $(".comment_input").hide();
        $("[rel = reply_"+comment_id +"_"+comment_userid+"]").show(); 
    });
    // $(".add_comment").live("click",function(){
    //  //var srt = '<input name="commet_text" type="text" value="" />';
    //  $(this).parents('.info').siblings(".comment_input").show();
    //  //$(this).parents('.info').siblings(".comment_input").append(srt);
    //})
  
 function bindPostCommentHandler() {
    $('#comment_form input.submit-preview').remove();
    $('#comment_form').submit(function() {
        $.ajax({
            type: "POST",
            data: $('#comment_form').serialize(),
            url: "{% comment_form_target %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
              $('#comment_list').html('');
              $('#comment_list').html(html);
              //console.log($('[name=comment]'))
              $('[name=comment]').val("");

              tid = $("#id_object_pk").val();
              url_ext = "{% url axis_get_tile_n_comments %}";
              $.post(url_ext,{"tid":tid},function(result){
                d = $.parseJSON(result); 
                $("#tile_comments_" + tid).text(d.num);
              })
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              //console.log(XMLHttpRequest)
              //console.log(textStatus)
              //console.log(errorThrown)
            }
        });
        return false;
    });
} 
   //表单提交方法
   bindPostCommentHandler();
  
//删除评论
$("[rel=delete_tile_comment]").live('click',function(){
  url = $(this).data("href"); 
  $.post(url,{},function(result){
      data = $.parseJSON(result); 
      //console.log(data)
      if(data.type=="ok"){
        $("#comment_list").html('');
        $("#comment_list").html(data.con); 
        tid = $("#id_object_pk").val();
        url_ext = "{% url axis_get_tile_n_comments %}";
        $.post(url_ext,{"tid":tid},function(result){
          d = $.parseJSON(result); 
          $("#tile_comments_" + tid).text(d.num);
        })
      }else{
        alert("删除失败");
      }
  });
})
 
$("#more_comment").live('click',function(){
  url = $(this).data("href");
  $.post(url,{},function(result){
      data = $.parseJSON(result); 
      //console.log(data)
      if(data.type=="ok"){
        $("#more_comment").remove();
        // $("#comment_list").html('');
        // $("#comment_list").html(data.con);
        $("#comment_list").append(data.con);
      }else{
        
      }
  });
})

//提交回复
  $(".ext_comment_btn").live('click',function(){
      var commentid = $(this).attr('alt')
      $("#target_comment").val(commentid);
      var commenttext = $("#ext_comment_"+commentid).val();
      $('[name=comment]').val(commenttext);
      // alert(commenttext);
     $('#comment_form').submit(); 
  })

    //提交回复（2）
    $(".sub_comment_btn").live('click',function(){
        var commentid = $(this).attr('alt')
        $("#target_comment").val(commentid);
        var commenttext = $("#sub_comment_"+commentid).val();
        $('[name=comment]').val(commenttext);
        //alert(commenttext);
       $('#comment_form').submit(); 
    })
  })  
</script>
     
{% endif %}
