{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls oa_tags %}

{% block content %}
<div id="content-main">
  <h1>短信列表：</h1>
	<div id="grp-content-container">        
    <div class="g-d-c grp-object-history">
            <table id="grp-change-history">
                <thead>
                    <tr>
                        <th scope="col">发送者</th>
                        <th scope="col">接收者</th>
                        <th scope="col">接收手机</th>
                        <th scope="col">内容</th>
                        <th scope="col">发送时间</th>
                        <th scope="col">是否发送</th>
                    </tr>
                </thead>
                <tbody>
                  	{% for s in smses %}
					<tr>
						<td rel="{{s.sender_id}}">{{s.sender|get_name}}</td><td rel="{{s.receiver_id}}">{{s.receiver|get_name}}</td><td>{{s.mobile}}</td><td>{{s.content}}</td><td>{{s.send_time|date:"Y-m-d G:i"}}</td><td>{% if s.is_send %}是{% else %}否{% endif %}</td>
					</tr>
					{% endfor %}	
                </tbody>
            </table>    
    </div>
	</div>
</div>

{% endblock %}