{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls oa_tags %}

{% block content %}
<div id="content-main">
  <h1>瓦片：{{tile_count}}</h1>
	<div id="grp-content-container">        
    <div class="g-d-c grp-object-history">
            <table id="grp-change-history">
                <thead>
                    <tr>
                        <th scope="col">班级id</th>
                        <th scope="col">班级名称</th>
                        <th scope="col">数目</th>
                    </tr>
                </thead>
                <tbody>
                  	{% for t in tile_list %}
					<tr>
						<td>{{t.id}}</td><td>{{t.name}}</td><td>{{t.num}}</td>
					</tr>
					{% endfor %}	
                </tbody>
            </table>    
    </div>
	</div>

    <h1>每日活动：{{activity_count}}</h1>
    <div id="grp-content-container">        
    <div class="g-d-c grp-object-history">
            <table id="grp-change-history">
                <thead>
                    <tr>
                        <th scope="col">班级id</th>
                        <th scope="col">班级名称</th>
                        <th scope="col">数目</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in activity_list %}
                    <tr>
                        <td>{{a.id}}</td><td>{{a.name}}</td><td>{{a.num}}</td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>    
    </div>
    </div>

    <h1>日常记录：{{record_count}}</h1>
    <div id="grp-content-container">        
    <div class="g-d-c grp-object-history">
            <table id="grp-change-history">
                <thead>
                    <tr>
                        <th scope="col">班级id</th>
                        <th scope="col">班级名称</th>
                        <th scope="col">数目</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in record_list %}
                    <tr>
                        <td>{{r.id}}</td><td>{{r.name}}</td><td>{{r.num}}</td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>    
    </div>
    </div>

    <h1>消息：{{message_count}}</h1>
    <div id="grp-content-container">        
    <div class="g-d-c grp-object-history">
            <table id="grp-change-history">
                <thead>
                    <tr>
                        <th scope="col">班级id</th>
                        <th scope="col">班级名称</th>
                        <th scope="col">数目</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in message_list %}
                    <tr>
                        <td>{{m.id}}</td><td>{{m.name}}</td><td>{{m.num}}</td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>    
    </div>
    </div>

    <h1>老师短信：</h1>
    <div id="grp-content-container">        
    <div class="g-d-c grp-object-history">
            <table id="grp-change-history">
                <thead>
                    <tr>
                        <th scope="col">发送者id</th>
                        <th scope="col">发送者姓名</th>
                        <th scope="col">发送成功</th>
                        <th scope="col">发送总数</th>
                        <th scope="col">详情</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in sms_list %}
                    <tr>
                        <td>{{s.user.id}}</td><td>{{s.user|get_name}}</td><td>{{s.num}}</td><td>{{s.total}}</td><td><a href="/admin/kinger/get_user_messages/?uid={{s.user.id}}" target="_balnk">查看</a></td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>    
    </div>
    </div>

    <h1>家长短信：</h1>
    <div id="grp-content-container">        
    <div class="g-d-c grp-object-history">
            <table id="grp-change-history">
                <thead>
                    <tr>
                        <th scope="col">发送者id</th>
                        <th scope="col">发送者姓名</th>
                        <th scope="col">所在班级</th>
                        <th scope="col">发送成功</th>
                        <th scope="col">发送总数</th>
                        <th scope="col">详情</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in par_sms_list %}
                    <tr>
                        <td>{{s.user.id}}</td><td>{{s.user|get_name}}</td><td>{{s.user.student.group}}</td><td>{{s.num}}</td><td>{{s.total}}</td><td><a href="/admin/kinger/get_user_messages/?uid={{s.user.id}}" target="_balnk">查看</a></td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>    
    </div>
    </div>
</div>
<footer class="grp-module grp-submit-row grp-fixed-footer">
    <header style="display:none"><h1>Submit Options</h1></header>
    <ul>
        <li><a class="grp-button" href="/admin/kinger/sms/">返回</a></li>
    </ul>
</footer>
{% endblock %}