

{% load pagination_tags kinger_tags i18n%}

    {% if tiles %}
    
    {% for tile in tiles %}
    <li id="ti-{{tile.id}}" class="span3 tile">
        {% if request.user.is_authenticated %}
        {% if tile.is_report %}
        {% else %}
        <div class="actions" style="">
            <div class="pull-right">
                <a class="comment_btn btn btn-small" href="{% url tile_view tile.id %}?channel={{channel|default:"baby"}}&for_comment=1"><i class="icon-comment"></i> {% trans "Comment" %}<i class="icon-external-link"></i></a>
                <button class="btn btn-small likeable" data-id="{{tile.id}}" data-href="{% url api_web_tiles_like_rev %}">
                    {% if tile|liked_by_user:request.user %}
                    <i class="like icon-heart"></i>&nbsp;<span>{% trans "unlike" %}</span>
                    {% else %}
                    <i class="icon-heart"></i>&nbsp;<span>{% trans "Like" %}</span>
                    {% endif %}
                </button>
            </div>
        </div>
         {% endif %}
        {% endif %} 
        <div class="thumbnail" style="{% if tile.is_report %}  padding:0; {% endif %}" >
            <!-- 杂项类型 -->
            {% if tile.is_report %}
                <a href="{% url tile_view tile.id %}?channel={{channel|default:"baby"}}" class="kBabyA">
                   <div class="kBabyState kSt_{{ tile.type_id }} kTile-img" style=" malign:0px; padding:0; width:100%;  border:0;">
                        <div class="kSt_Img" ></div>
                        <div class="kState"><p class="state">{{ tile.title }}</p><p class="info" title="{{ tile.description }}">{{ tile.description|cut_str:5 }}</p></div>
                    </div>
                </a>
                <div class="caption tile_sp_{{ tile.type_id }}">
                    <p class="caption-date">{{ tile.pub_time|date:"m-d l"}}</p>
                </div>
           
            <!-- /杂项类型 -->

            {% else %}

            {% out_of_range tile.img "img_middle" 800 as is_out %}
            <a class="kTile-img" href="{% url tile_view tile.id %}?channel={{channel|default:"baby"}}"><img src="{% media_path tile.img "img_middle" %}" alt="" rel="imgLoad">{% if is_out %}<span class="stop"></span>{% endif %}</a>
            <div class="caption">
                <p rel="desc_{{tile.id}}" class="caption-title">{{ tile.description|removetags:"a p span div strong em video"|safe }}</p>
            </div>
            {% if tile.n_comments > 0 %}
            <div class="kComments">     
                {% for c in tile.comments %}
                {% include "kinger/includes/comment.html" with comment=c %}
                {% endfor %}
            </div>
            {% endif %}
            {% endif %}
            
        </div>
    </li>
    {% endfor %}
    {% endif %}
    


