<!--[if IE 6]>
<style type="text/css">
/*ie6提示*/#ie6-warning{width:100%;position:absolute;display:none;top:40px;left:0;background:#ffffe1;padding:5px 0;font-size:12px}#ie6-warning p{width:960px;margin:0 auto;text-align:center;}#ie6-close{margin-top:-25px;}
</style>
<script>$(document).ready(function(){$("#ie6-warning").slideToggle("slow");	$("#ie6-close").click(function(){$("#ie6-warning").hide("slow");});});
</script>
<div id="ie6-warning">
<p>您正在使用 Internet Explorer 6浏览器，由于本页面不兼容Internet Explorer 6浏览器，在本页面的显示效果可能有差异。<br/>建议您升级到 <a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">Internet Explorer 8</a> 或以下浏览器：<a href="http://www.mozillaonline.com/">Firefox</a> / <a href="http://www.google.com/chrome/?hl=zh-CN">Chrome</a> / <a href="http://www.apple.com.cn/safari/">Safari</a> / <a href="http://www.operachina.com/">Opera</a> 诚心为给您带来的不便致歉！<a id="ie6-close" class="close" data-dismiss="alert" href="#">×</a></p></div>
<![endif]-->
