{% load notifications_tags %}
{% notifications_unread "normal" as unread_notifications_count %}
<div id="unread_list">
	<div id="unread_messages" class="hide">
			<a href="{% url userena_umessages_list %}">有<span rel="unread_count">{{unread_message_count}}</span>条新消息</a>
			<a href="javascript:;" class="er_ico" onclick="hide_message_box({{unread_message_count}});"></a>
	</div>
	
	<div id="unread_notifications" class="hide">
		{% load url from future %}
			<a href="{% url 'notifications:all' %}">有<span rel="unread_count">{{unread_notifications_count}}</span>条新提醒</a>
			<a href="javascript:;" id="hide_notice_box" class="er_ico" onclick="hide_notice_box({{unread_notifications_count}})"></a>
	</div>
</div>
<script type="text/javascript">  
uid = {{request.user.id}};
function SetCookie(name,value)//两个参数，一个是cookie的名子，一个是值
	{
	    var Days = 30; //此 cookie 将被保存 30 天
    	var exp = new Date();
	    exp.setTime(exp.getTime() + Days*24*60*60*1000);
	    document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString() + "; path=/";
	}
function hide_notice_box(notify_num){
    $("#unread_notifications").hide();	
    name = "notifications_count_" +	uid;
    SetCookie(name,notify_num);
}
function hide_message_box(num){
    $("#unread_messages").hide();
    name = "messages_count_" +	uid;
    SetCookie(name,num);		
}
</script>  
